@use '../abstracts/variables' as v;
@use '../abstracts/breakpoints' as bp;
@use '../abstracts/placeholders';

#project-list {
  margin-top: 2rem;

  @include bp.lg {
    margin-top: 2.5rem;
  }

  .card-wrapper {
    &:hover {
      text-decoration: none;
    }

    &:not(:last-child) {
      margin-bottom: 1.25rem;
    }
  }

  .card {
    border: 0;
    background: none;

    %img-radius {
      border-radius: v.$radius-lg v.$radius-lg 0 0;

      @include bp.md {
        border-radius: 0 v.$radius-lg v.$radius-lg 0;
      }
    }

    .preview-img {
      @extend %img-radius;

      img {
        @extend %img-radius;
      }
    }

    .card-body {
      height: 100%;
      padding: 1rem;

      @include bp.md {
        padding: 1.75rem 1.75rem 1.25rem;
      }

      .card-title {
        @extend %text-clip;

        color: var(--heading-color) !important;
        font-size: 1.25rem;
      }

      .card-text {
        @include bp.md {
          display: inherit !important;
        }

        &.content {
          color: var(--text-muted-color) !important;

          p {
            @extend %text-clip;

            line-height: 1.5;
            margin: 0;
          }
        }
      }

      .project-meta {
        color: var(--text-muted-color) !important;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
        gap: 0.5rem;

        .tech-tags {
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;
          flex: 1;
        }

        .post-tag {
          display: inline-flex;
          align-items: center;
          line-height: 1.05rem;
          font-size: 0.85rem;
          background: var(--tag-bg);
          border-radius: 0.8rem;
          padding: 0.3rem 0.5rem;
          color: var(--tag-color);
          white-space: nowrap;

          &:hover {
            background: var(--tag-hover-bg);
            transition: background-color 0.3s ease-in-out;
          }

          i {
            margin-right: 0.2rem;
          }
        }

        .source-link {
          margin-left: auto;
          z-index: 1;
          font-size: 0.85rem;
          border: none;
          color: var(--link-color);
          cursor: pointer;
          padding: 0;

          &:hover {
            color: var(--link-hover-color);
          }
        }
      }
    }
  }
}
