---
layout: default
refactor: true
---

{% include lang.html %}

<div id="project-list" class="flex-grow-1 px-xl-1">
  {% for project in site.projects %}
  <article class="card-wrapper card">
    <a
      href="{{ project.url | relative_url }}"
      class="post-preview row g-0 flex-md-row-reverse"
    >
      <div class="card-body d-flex flex-column">
        <h1 class="card-title my-2 mt-md-0">{{ project.title }}</h1>
        <div class="card-text content mt-0 mb-3">
          <p>{{ project.description }}</p>
        </div>

        <div class="project-meta flex-grow-1 d-flex align-items-end">
          <div class="tech-tags">
            {% if project.tech %} {% for tech in project.tech %}
            <span class="post-tag">{{ tech }}</span>
            {% endfor %} {% endif %} {% if project.source %}
            <button
              class="post-tag source-link"
              onclick="window.open('{{ project.source }}', '_blank')"
            >
              <i class="fab fa-github fa-fw"></i>
              Source
            </button>
            {% endif %}
          </div>
        </div>
      </div>
    </a>
  </article>
  {% endfor %}
</div>
